{% load static %}
{% include 'header.html' %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  {% include 'nav.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
           
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">View Designation</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">View Product Details</h3>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                {% for x in data %}
                  <h2>{{ x.cat_name }}</h2>
                  <ul>
                    {% for product in x.product_set.all %}
                      <li>
                        <p>{{ product.itm }}</p>
                      </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
              <!-- End Card Body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
{% include 'scripts.html' %}

</body>
</html>
