{% load static %}
{% include 'header.html' %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  {% include 'nav.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
           
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">View Qualification</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
             
              <!-- /.card-header -->
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Qualification Details {{ name}}</h3>
              </div>
              
              {% for msg in messages %}
          
              <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                 {{msg}}
                </div>
              </div>
                
              {% endfor %}

             
              
              <!-- <script>
                {% for msg in messages %}
                alertify.set('notifier','position', 'top-right');
                alertify.success('{{msg}}');
                {% endfor %}
              </script> -->
            
                
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#SI.No</th>
                    <th>Qualification Name</th>
                    <th>Status</th>
                    <th>Action</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                    {% for x in records %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ x.qual_name }}</td>
                        <td class="project-state">
                            <span class="badge badge-success">Active</span>
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'edit_qual' e_id=x.id %}" target="_blank">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" onclick="return qual_del()" href="{% url 'del_qual' q_id=x.id %}" >
                                <i class="fas fa-trash">
                                </i>
                                Delete
                                
                            </a>
                           

                        </td>

                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
{% include 'scripts.html' %}

</body>
</html>
