
{% include 'header.html' %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
 {% include 'nav.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Edit Employee</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Employee Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name">
                  </div>

                  <div class="form-group"> 
                    <label for="">Gender</label>
                    <input type="radio" class="" id="#" name="gender" placeholder="">Male 
                    <input type="radio" class="" id="#" name="gender" placeholder="">Female
                    </div>

                  <div class="form-group">
                    <label for="">DOB</label>
                    <input type="date" class="form-control" id="" placeholder="Enter DOB">
                  </div>

                  <div class="form-group">
                    <label for="">Mobile</label>
                    <input type="tel" class="form-control" id="" placeholder="Enter Mobile">
                  </div>

                  <div class="form-group"> 
                    <label for="">Address</label><br>
                    <textarea class="form-control" name="" id="" cols="" rows="2"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputFile">Photo Upload</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                 
                  
                </div>
                <!-- /.card-body -->

               
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
           
            <!-- /.card -->

            <!-- Input addon -->
           
            <!-- /.card -->
            <!-- Horizontal Form -->
          
            <!-- /.card -->

          </div>

          <div class="col-md-6">
            <!-- Form Element sizes -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Other Details</h3>
              </div>
              <form>
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Qualification</label>
                            <select class="form-control">
                              <option>MCA</option>
                              <option>BCA</option>
                            </select>
                          </div>

                        <label>Designation</label>
                        <select class="form-control">
                          <option>HR</option>
                          <option>Junior SD</option>
                        </select>
                      </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Salary</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Enter Salary">
                  </div>

                  <div class="form-group">
                    <label>Salary Day</label>
                    <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                      <option>24</option>
                      <option>25</option>
                      <option>26</option>
                      <option>27</option>
                      <option>28</option>
                      <option>29</option>
                      <option>30</option>
                      <option>31</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Join Date</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" placeholder="Enter Salary">
                  </div>

                  <div class="form-group">
                    <label>Status</label>
                    <select class="form-control">
                      <option>Active</option>
                      <option>Deactive</option>
                    </select>
                  </div>
                  

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                <!-- /.card-body -->
              </form>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          
            <!-- /.card -->

            <!-- general form elements disabled -->
         
            <!-- /.card -->
            <!-- general form elements disabled -->
            
            <!-- /.card -->
          </div>
          
          <!--/.col (left) -->
          <!-- right column -->
          
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html' %}

  <!-- Control Sidebar -->
 
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{% include 'scripts.html' %}

</body>
</html>
