{% load static %}
{% include "frontend_header.html" %}
<body>
    <!-- Topbar Start -->
   
    <!-- Topbar End -->


    <!-- Navbar Start -->
    {% include "frontend_nav.html" %}
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">About</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">About</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Services</h5>
                        <h1>College Services</h1>
                    </div>
                    <p>College services can encompass a wide range of offerings designed to support students academically, personally, and professionally. The specific services available can vary from one college to another, but here are some common types of college services
                    
                    Academic Advising:

                    Guidance on course selection, major/minor choices, and academic planning.
                    Assistance with understanding degree requirements and academic policies.
                    Career Services:

                    Resume writing assistance, job search support, and career counseling.
                    Workshops and seminars on career-related topics.
                    Job fairs and networking events with potential employers.
                    </p>
                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Registration Start -->
   
    <!-- Registration End -->


    <!-- Testimonial Start -->
   
    <!-- Testimonial End -->


    <!-- Footer Start -->
  {% include "frontend_footer.html" %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


   {% include "frontend_scripts.html" %}
</body>